*
!include/
!include/*
!src/
!config/
!launch/
!*.h
!*.hpp
!*.cpp
!*.yaml
!*.launch
!misc/
!misc/sample.png
!README.*
!Makefile
!CMakeLists.txt
!LICENSE.txt
!package.xml
!plugin_description.xml
!.gitignore
